*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: none;
    text-decoration: none;
    border: none;
    list-style-type: none;
    
}
body{
    background: linear-gradient(90deg, #7F00FF 0%, #E100FF 100%);
    display: flex;
    align-items: flex-start;
    justify-content: center;
    width: 100vw;
    height: 100vh;
}
.container div{
    display: flex;
    padding: 1rem 0;
    margin-bottom: 15px;
    
}
#text_input{
    width: 342px;
    height: 40px;
    border: 2px solid rgba(209, 211, 212, 0.4);
    border-radius: 5px;
    padding-left: 10px;
    transition: background-color 0.5s;
}
#text_input:hover{
    background-color: rgb(220, 220, 220);
}
#add_btn{
    background: #8052EC;
    border-radius: 5px;
    height: 40px;
    border: none;
    padding: 0 15px;
    color: #FFFFFF;
    font-size: 17px;
    cursor: pointer;
    font-weight: 700;
    margin-left: 1rem;
    
}
#add_btn:hover{
    opacity: 0.8;
}
#add_btn:active{
    opacity: 0.6;
}
.done{
    background-color: greenyellow;
    text-decoration: line-through;
    transition:  background-color 0.5s;
}
.container{
    padding-bottom: 20px;
    margin-top: 100px;
    width: 541px;
    height: auto;
    background-color: white;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
}
.task_name{
    font-size: 1.2rem;
    font-weight: 700;

}
li{
 
    display: flex;
    justify-content: space-between;
    width: 80%;
    
    background: #F2F2F2;
    box-shadow: 1px 4px 10px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    padding: 20px 25px;
    cursor: pointer;
    position: relative;
    margin-top: 10px;
    margin-bottom: 10px;
    transition: transform 0.5s;

}
li:hover{
    transform: scale(1.05);
}
ul{
    
    width: 100%;
    height: auto;
    display: flex;
    gap: 10px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.add{
    display: flex;
    width: 80%;
}
.btn_rocket i{
    color:#4F0FC5;
    border: none;
    background: transparent;
    position: absolute;
    left: 1rem;
    top: 40%;
    opacity: 0;
    height: 100%;
    width: 40px;
    cursor: pointer;
    transition: opacity 0.5s ease-in-out;
}
.btn_delete i{
    color:#ff0000;
    border: none;
    background: transparent;
    position: absolute;
    right: 1rem;
    top: 40%;
    opacity: 0;
    height: 100%;
    width: 40px;
    cursor: pointer;
    transition: opacity 0.5s;
}
li:hover .btn_delete i{
    opacity: 1;
}
li:hover .btn_rocket i{
    opacity: 1;
}

@media (max-width: 700px){
    .container{

        width: 341px;
       
    }
    #text_input{
        width: 172px;
        height: 40px;
        border: 2px solid rgba(209, 211, 212, 0.4);
        border-radius: 5px;
        padding-left: 10px;
    }
    #add_btn{
        
        height: 40px;
        padding: 0 10px;
        font-size: 14px;
        
        
    }
    li{
        width: 80%;
        background: #F2F2F2;
        box-shadow: 1px 4px 10px rgba(0, 0, 0, 0.2);
        border-radius: 5px;
        padding: 12px 25px;
        cursor: pointer;
        position: relative;
        margin-top: 0;
        margin-bottom: 15px;
    
    }


    .btn_rocket i{
       
        left: 0.1rem;
   
    }
    .btn_delete i{
        right: 0.1rem;
       
    }
    .task_name{
        font-size: 0.9rem;
        font-weight: 700;
    
    }
}